<h1>Editing essay</h1>

<% form_for :essay,
            :url => essay_update_url,
            :html => { :method => :put }  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%=f.check_box :is_private %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Show', @essay %> |
<%= link_to 'Back', essays_path %>
