<h4> <%=h @username %></h4>

<% unless @essay.is_private -%>

  <div style="font-weight:bold; font-size:30px ">
    <%= (!@essay.nil? and !@essay.title.nil?) ? @essay.title.capitalize : "Untitled" %>
  </div>

  <div>
    <%=RedCloth.new(@essay.content, [:sanitize_html]).to_html if !@essay.nil? %>
  </div>

<% else -%>

  <br />

  <!-- This a private part of <%= @user.login %>'s hexagon. -->
  Cerrado con tapa

  <br />
  <br />

  <%= link_to "go to Essays", "/#{@username}/essays/" %>

<% end -%>


